*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Libre Franklin", sans-serif;
    font-size: 20px;
}

.l-flex {
    display: flex;
    justify-content: center;
}

.l-flex__item {
    width: 500px;
}

.welcome {
    padding-top: 70px;
    text-align: center;
}

.welcome__logo {
    width: 80px;
}

.welcome__title {
    margin-top: 40px;
    font-size: 40px;
    color: hsl(0, 0%, 59%);
}

.welcome__bold {
    font-weight: bold;
    color: hsl(209, 33%, 12%);
}

.welcome__desc {
    margin: 20px 0;
    font-size: 17px;
    color: hsl(209, 33%, 12%);
}

.welcome__form {
    margin: 40px auto;
    display: flex;
}

.welcome__input {
    flex: 2;
    padding: 12px 20px;
    color: hsl(209, 33%, 12%);
    border: 1.5px solid hsl(223, 100%, 88%);
    border-radius: 20px;
}

.welcome__input:focus {
    outline: none;
    border: 1.5px solid hsl(209, 33%, 12%);
}

.wecome__input::placeholder {
    color: hsl(223, 100%, 88%);
}

.welcome__cta {
    margin-left: 10px;
    flex: 1;
    color: white;
    background-color: hsl(223, 87%, 63%);
    border: 0;
    border-radius: 25px;
    box-shadow: 0 3px 10px 4px hsla(223, 87%, 63%, 0.2);
    cursor: pointer;
}

.welcome__cta:hover {
    background-color: hsl(223, 100%, 70%);
}

.welcome__cta:focus {
    outline: none;
}

.illustration {
    margin: 80px auto;
    width: 500px;
}

.illustration__dashboard {
    width: 100%;
}

.social {
    text-align: center;
}

.social__icon {
    margin-right: 5px;
    width: 25px;
    padding: 5px;
    border: 1px solid hsl(223, 100%, 88%);
    border-radius: 100%;
}

.social__trademark {
    margin: 20px 0;
    font-size: 12px;
    color: hsl(0, 0%, 59%);
}