*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Libre Franklin", sans-serif;
    font-size: 20px;
}

.l-flex {
    display: flex;
    justify-content: center;
}

.l-flex__item {
    max-width: 550px;
}

.welcome {
    padding-top: 40px;
    text-align: center;
}

.welcome__logo {
    width: 80px;
}

.welcome__title {
    margin-top: 30px;
    font-size: 40px;
    color: hsl(0, 0%, 59%);
}

.welcome__bold {
    font-weight: bold;
    color: hsl(209, 33%, 12%);
}

.welcome__desc {
    margin: 20px 0;
    font-size: 17px;
    color: hsl(209, 33%, 12%);
}

.welcome__form {
    max-width: 500px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}

.welcome__input {
    flex: 2;
    padding: 13px 20px;
    color: hsl(209, 33%, 12%);
    border: 1.5px solid hsl(223, 100%, 88%);
    border-radius: 25px;
}

.welcome__input--error {
    border: 1.5px solid hsl(354, 100%, 66%);
}

.wecome__input::placeholder {
    color: hsl(223, 100%, 88%);
}

.welcome__cta {
    margin-left: 10px;
    flex: 1;
    color: white;
    background-color: hsl(223, 87%, 63%);
    border: 0;
    border-radius: 25px;
    box-shadow: 0 3px 10px 4px hsla(223, 87%, 63%, 0.2);
    cursor: pointer;
}

.welcome__cta:hover {
    background-color: hsl(223, 100%, 70%);
}

.welcome__email-error {
    margin-top: 7px;
    color: hsl(354, 100%, 66%);
    font-size: 14px;
    font-style: italic;
    margin-left: 20px;
}

.welcome__email-error--hidden {
    visibility: hidden;
}

@media only screen and (max-width: 500px) {
    .welcome__form {
        max-width: 350px;
        flex-wrap: wrap;
    }

    .welcome__input {
        margin-bottom: 10px;
        flex-basis: 350px;
        order: 1;
    }

    .welcome__cta {
        margin-left: 0;
        padding: 13px 30px;
        flex-basis: 350px;
        order: 3;
        text-align: center;
    }

    .welcome__email-error {
        flex: 1;
        margin: 0 0 20px 0;
        order: 2;
        
    }

}


.illustration {
    margin: 40px auto;
    width: 500px;
}

.illustration__dashboard {
    width: 100%;
}

@media only screen and (max-width: 500px) {
    .illustration {
        max-width: 375px;
    }

    .illustration__dashboard {
        max-width: 375px;
    }
}

.social {
    text-align: center;
}

.social__icons {
    display: flex;
    justify-content: center;
}

.social__outline {
    margin-right: 10px;
    display: block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 1px solid hsl(223, 100%, 88%);
    border-radius: 100%;
}

.social__outline:hover {
    background-color: hsl(223, 100%, 70%);
    cursor: pointer;
}

.social__outline:hover .social__icon {
    filter: brightness(5);
}

.social__icon {
    width: 15px;
}

.social__trademark {
    margin: 20px 0;
    font-size: 12px;
    color: hsl(0, 0%, 59%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
